# Enable URL rewrites
RewriteEngine On

# Redirect /index to / (root)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index(\.html)?\ HTTP/
RewriteRule ^index(\.html)?$ / [R=301,L]

# Add trailing slash to directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ $1/ [R=301,L]

# If URL doesn't end with '/' or have a file extension (like .html)
# and if it's not a real directory, add .html extension internally
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Set default document as index.html
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # if the request doesn't map to a real file or dir…
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # …but a corresponding .html file _does_ exist…
  RewriteCond %{REQUEST_FILENAME}.html -f
  # …internally rewrite "/foo" → "/foo.html"
  RewriteRule ^(.+?)/?$ $1.html [L,QSA]
</IfModule>
